.header_login {
    background-color: rgb(203, 29, 40);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_subtitulo {
    display: flex;
    justify-content: center;
    padding: 8px 0 15px 0;
}

.nombreLinea {
  font-weight: bolder;
}

.lineas {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.ubicacionBoton{
    padding: 10px;
}

.bordesRedondos{
    border-radius: 30px;
}

ion-content {
    --background: linear-gradient(180deg, rgba(225,224,220,1) 69%, rgba(255,255,255,1) 100%);
}

.subtitulo_informes {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: white;
    background-color: rgb(203, 29, 40);
    padding: 8px;
    border-radius: 20px;
}